<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container-fluid">
    <div class="row">
      <!-- Brand Info -->
      <div class="col-md-3 col-sm-12 mb-4">
        <img src="/Images/logo3.png" alt="Logo" class="img-fluid px-2">

        <p class="py-5">Head Office: 158 Eltham High St, London SE9 1BJ</p>
      </div>

      <!-- Supporting Links -->
      <div class="col-md-3 col-sm-12 mb-4">
        <h5 class="text-uppercase mb-3" style="color:#c10f6b;">Important Links</h5>
        <ul>
          <li class="mb-2"><a href="/index.html" class="text-white text-decoration-none">Home</a></li>
          <li class="mb-2"><a href="/offers.html" class="text-white text-decoration-none">Our Offers</a></li>
          <li class="mb-2"><a href="/warranty.html" class="text-white text-decoration-none">Warranty</a></li>
          <li class="mb-2"><a href="/storelocation.html" class="text-white text-decoration-none">Store Location</a></li>
          <li class="mb-2"><a href="/contactus.html" class="text-white text-decoration-none">Contact Us</a></li>
        </ul>
      </div>

      <!-- Smart Phone Repairs -->
      <div class="col-md-3 col-sm-12 mb-4">
        <h5 class="text-uppercase mb-3" style="color:#c10f6b;">Quick Links</h5>
        <ul>
          <li class="mb-2"><a href="/mobilebrands.html" class="text-white text-decoration-none">Mobile Brands</a></li>
          <li class="mb-2"><a href="/iphones.html" class="text-white text-decoration-none">Iphones</a></li>
          <li class="mb-2"><a href="/samsung.html" class="text-white text-decoration-none">Samsung</a></li>
          <li class="mb-2"><a href="/nokia.html" class="text-white text-decoration-none">Nokia</a></li>
          <li class="mb-2"><a href="/google.html" class="text-white text-decoration-none">Google</a></li>

        </ul>
      </div>

      <!-- SIDCUP BRANCH -->
      <div class="col-md-3 col-sm-12 mb-4">
        <h5 class="text-uppercase mb-3" style="color:#c10f6b;">Quick Support</h5>
        <address class="text-white">
          <ul>
            <li class="mb-2"><a href="/storelocation.html" class="text-white text-decoration-none">46 Sidcup High
                Street, DA14 6EH</a></li>
            <li class="mb-2"><a href="/storelocation.html" class="text-white text-decoration-none">158 Eltham High
                Street, SE9 1BJ</a></li>
            <li class="mb-2"><a href="/storelocation.html" class="text-white text-decoration-none">96A Broadway,
                Bexleyheath DA6 7DE </a></li>
            <li class="mb-2"><a href="/storelocation.html" class="text-white text-decoration-none">21 Park, Road BR7
                5AY</a></li>
            <li class="mb-2"><a href="/storelocation.html" class="text-white text-decoration-none">11 Swanley high
                street BR8 8AE</a></li>

        </address>
      </div>
    </div>

    <hr class="my-4 bg-secondary">

    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-0">&copy; 2025 Smart Tech. All rights reserved.  <a href="https://apnadeveloper.com">Develope by APNA DEVELOPER</a></p>
      </div>
    </div>
  </div>
</footer>
